@using EntityLayer.Concrete
@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyurular</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnnouncementID</td>
            <td>@item.Title</td>
            <td>@item.Date</td>
            <td><a href="/Announcement/DeleteAnnouncement/@item.AnnouncementID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Announcement/EditAnnouncement/@item.AnnouncementID" class="btn btn-outline-warning">Düzenle</a></td>
            <td><a href="/Announcement/ChangeStatusToTrue/@item.AnnouncementID" class="btn btn-outline-success">Aktif Tap</a></td>
            <td><a href="/Announcement/ChangeStatusToFalse/@item.AnnouncementID" class="btn btn-outline-info">Pasif Yap</a></td>
        </tr>
    }
    <tr>
        <td><a href="/Announcement/AddAnnouncement/" class="btn btn-outline-info">Yeni Duyuru Girişi</a></td>
        
    </tr>
    
</table>


