@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr><th><h1>Admin Listesi</h1></th></tr>
    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdminID</td>
            <td>@item.Username</td>
            
        <td><a href="/Admin/DeleteAdmin/@item.AdminID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/EditAdmin/@item.AdminID" class="btn btn-outline-warning">Düzenle</a></td>
           
        </tr>
    }
    <tr>
        <td><a href="/Admin/AddAdmin/" class="btn btn-outline-info">Yeni Admin Girişi</a></td>

    </tr>

</table>
